body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: radial-gradient(circle at 50% -20.71%, #dff0db 0, #dbf0dd 6.25%, #d8f1e0 12.5%, #d5f1e3 18.75%, #d3f2e6 25%, #d1f2e9 31.25%, #cff2ec 37.5%, #cef2ef 43.75%, #cdf2f2 50%, #cdf2f5 56.25%, #cdf1f8 62.5%, #cef1fa 68.75%, #cff0fc 75%, #d1f0fe 81.25%, #d3efff 87.5%, #d6eeff 93.75%, #d9edff 100%);
    height: 100vh;
  }
  
  .formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    padding: 20px;
  }
  
  .formulario h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
  }
  
  .formulario form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  
  .username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  .username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
  }
  
  .username span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f2cc2;
    transition: 0.3s;
  }
  
  .username input:focus ~ label,
  .username input:valid ~ label {
    top: -5px;
    color: #7f2cc2;
  }
  
  .username input:focus ~ span::before,
  .username input:valid ~ span::before {
    width: 100%;
  }
  
  .recordar {
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
  }
  
  .recordar:hover {
    text-decoration: underline;
  }
  
  input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #9020bd;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  input[type="submit"]:hover {
    border-color: purple;
    transition: 0.5s;
  }
  
  .registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
  }
  
  .registrarse a {
    color: blue;
    text-decoration: none;
  }
  
  .registrarse a:hover {
    text-decoration: underline;
  }
  